{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'newsletters:newsletter_management' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_form|crispy }}
        <button type="submit" name="create_newsletter"
            class="btn btn-primary">Create Newsletter</button>
    </form>

    <form method="post" action="{% url 'newsletters:send_newsletter' %}">
        {% csrf_token %}
        {{ send_form|crispy }}
        <button type="submit" name="send_newsletter"
            class="btn btn-primary">Send Newsletter</button>
    </form>
</div>
{% endblock %}