{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 text-center">
            {% if newsletter.newsletter_image %}
            <img src="{{ newsletter.newsletter_image.url }}"
                class="newsletter_image" alt="{{ newsletter.title }}"
                style="width: 100%;">
            {% else %}
            <!-- Fallback to static image 'about.webp' -->
            <img src="{% static 'images/about.webp' %}" class="about_image"
                alt="About Us" style="width: 100%;">
            {% endif %}
            <div class="text-left mt-3">
                <!-- Add margin top for the text -->
                <h2>{{ newsletter.title }}</h2>
                <div><p>{{ newsletter.content | safe }}</p></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p class="mb-2"><em>Created on: {{ newsletter.created_on|date:"F d, Y" }}</em></p>
        {% if request.user.is_superuser %}
        <a href="{% url 'newsletter:newsletter_management' %}" class="btn btn-primary btn-lg">Create or Send Newsletter</a>


        <form action="" method="get"><p>Change to another newsletter in the list:</p>
            <select name="id" onchange="this.form.submit()">
                {% for n in all_newsletters %}
                    <option value="{{ n.id }}" {% if n.id == newsletter.id %}selected{% endif %}>{{ n.title }}</option>
                {% endfor %}
            </select>
        </form>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">

    <div class="col-12 col-md-6 my-5">
        <h2>Sign up for our newsletter</h2>
        <p>Some text about signing up to newsletter
        </p>
        <!-- Sign up newsletter form -->
        <form method="post" action="{% url 'newsletter:subscribe_to_newsletter' %}">
            {{ subscriber_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        {% if messages %}
        <div class="alert alert-dismissible">
            {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}