{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Subscribe to Artzy Newsletter - Get Exclusive Art Insights{% endblock %}
{% block description %}Stay updated with the latest from Artzy by signing up for our newsletter. Get exclusive insights into new art collections, artist features, and behind-the-scenes content delivered directly to your inbox. Don't miss out on our monthly highlights, special offers, and a peek into the art world through Artzy's lens. Sign up today to be part of our art-loving community!{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 text-center">
            <h1 class="text-left">Lastest Newsletter</h1>
            {% if newsletter.newsletter_image %}
            <img src="{{ newsletter.newsletter_image.url }}"
                class="newsletter_image" alt="{{ newsletter.title }}"
                style="width: 100%;">
            {% else %}
            <!-- Fallback to static image 'about.webp' -->
            <img src="{% static 'images/about.webp' %}" class="about_image"
                alt="About Us" style="width: 100%;">
            {% endif %}
            <div class="text-left mt-3">
                <!-- Add margin top for the text -->
                <h2>{{ newsletter.title }}</h2>
                <p class="mb-2"><em>Created on: {{ newsletter.created_on|date:"F d, Y" }}</em></p>
                <div><p>{{ newsletter.content | safe }}</p></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">

        {% if request.user.is_superuser %}
        <a href="{% url 'newsletter:newsletter_management' %}" class="btn btn-primary btn-lg">Create or Send Newsletter</a>


        <form action="" method="get"><p>Change to another newsletter in the list:</p>
            <select name="id" onchange="this.form.submit()">
                {% for n in all_newsletters %}
                    <option value="{{ n.id }}" {% if n.id == newsletter.id %}selected{% endif %}>{{ n.title }}</option>
                {% endfor %}
            </select>
        </form>
        {% endif %}
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 text-left">
        <h3>Explore More on Artzy</h3>
        <p>While you wait for our next newsletter, dive deeper into the art world with these curated resources:</p>
        <ul class="list-unstyled">
            <li><a class="text-black" href="https://www.metmuseum.org/art/collection" target="_blank" rel="noopener noreferrer">Explore The Met's Art Collection</a></li>
            <li><a class="text-black" href="https://www.tate.org.uk/visit/tate-modern" target="_blank" rel="noopener noreferrer">Visit Tate Modern Exhibitions</a></li>
            <li><a class="text-black" href="https://www.deviantart.com" target="_blank" rel="noopener noreferrer">Join the DeviantArt Community</a></li>
        </ul>
    </div>
</div>
</div>
<div class="row justify-content-center">

    <div class="col-12 col-md-6 my-5">
        <h2>Sign up for our newsletter</h2>
        <!-- Sign up newsletter form -->
        <form method="post" action="{% url 'newsletter:subscribe_to_newsletter' %}">
            {{ subscriber_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        {% if messages %}
        <div class="alert alert-dismissible">
            {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}