{% extends "base.html" %}
{% load static %}
{% block title %}My Art Wishlist | Curate Your Favorite Artworks on Artzy{% endblock %}
{% block description %}Create and manage your personalized wishlist on Artzy, your premier online destination for unique and captivating artworks. From contemporary masterpieces to timeless classics, effortlessly save and contemplate your next art acquisition. Keep track of your favorite pieces and make your art collection dreams a reality. Explore now and curate your perfect wishlist today!{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">Wishlist</h2>
            {% if wishlist_items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>If Print</th>
                            <th>Price</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wishlist_items %}
                        <tr>
                            <td>
                                <!-- Display the product image with a link to the product_detail page -->
                                <a
                                    href="{% url 'products:product_detail' item.product.id %}">
                                    <img src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}"
                                        width="100">
                                </a>
                            </td>
                            <td>
                                <!-- Display the product name with a link to the product_detail page -->
                                <a
                                    href="{% url 'products:product_detail' item.product.id %}">
                                    {{ item.product.name }}
                                </a>
                            </td>
                            <td>
                                <!-- Display the print type if print -->
                                {% if item.product.is_print %}{{ item.print_type|upper }}{% endif %}
                            </td>
                            <td>
                                <!-- Display the product price -->
                                ${{ item.product.price }}
                            </td>
                            <td>
                                <!-- Link to remove the item from the wishlist -->
                                <a href="{% url 'wishlists:remove_from_wishlist' item_id=item.id %}"
                                    class="btn btn-danger">Remove</a>
                            </td>
                            <td>
                                <!-- Link to add the item from the cart -->
                                <a href="{% url 'wishlists:add_wish_to_cart' item.product.id %}"
                                    class="btn btn-success">Add to shopping
                                    cart</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Your wishlist is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    var removeWishlistItemBaseUrl =
        "{% url 'wishlists:remove_from_wishlist' item_id=0 %}".replace('/0/',
            '');
    // Remove item and reload on click
    $('.remove-wishlistitem').click(function (e) {
        e.preventDefault();
        var csrfToken = "{{ csrf_token }}";
        var wishlistItemId = $(this).attr('id').split('remove_')[1];
        var url = removeWishlistItemBaseUrl + wishlistItemId + '/';
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("Failed to remove the product: " +
                    textStatus + ", " + errorThrown);
            });
    });
</script>
{% endblock %}