{% extends "account/base.html" %}

{% load i18n %}

{% block description %}You have successfully signed out of Artzy. Thank you for
visiting. We hope to see you again soon! For more art discoveries, feel free to
browse our collections or sign back in any time.{% endblock %}
{% block inner_content %}
<div class="overlay"></div>
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black" href="{% url 'home' %}">Cancel</a>
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}