{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title"
        content="{% block title %}Explore Artzy's Curated Collection of Accessible Art | Artzy{% endblock %}">
    <meta name="description"
        content="{% block description %}Explore Artzy's curated collection of accessible art, from contemporary pieces to classic treasures. Whether you're a curious beginner or an avid collector, discover the perfect piece to inspire your space. Shop now and start your art journey with us today!{% endblock %}">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">


    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script>
        window.addEventListener('load', function () {
            if (!window.location.href.endsWith('/about/#contact-us')) {
                window.scrollTo(0, 0);
            }
        });
    </script>

    <script src="https://kit.fontawesome.com/5322e9124b.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Buy Art Online | Accessible Art for Beginners
        to Collectors - Artzy</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon"
        href="{% static 'images/favicon.ico' %}">
</head>

<body>

    <header class="container-fluid fixed- header-background">
        <div class="row">
            <div
                class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font text-black my-0"><strong>Artzy</strong>
                    </h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <form method="GET" action="{% url 'products:products' %}">
                    <div class="input-group w-100 text-shadow">
                        <input class="form-control border border-black"
                            type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button
                                class="form-control btn btn-black border border-black"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <ul
                    class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-option"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0"
                            aria-labelledby="user-option">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'products:add_product' %}"
                                class="dropdown-item">Product
                                Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}"
                                class="dropdown-item">My Profile</a>
                                <a href="{% url 'wishlists:user_wishlists' %}"
                                class="dropdown-item">My Wishlist</a>
                            <a href="{% url 'account_logout' %}"
                                class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}"
                                class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}"
                                class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'cart:view_cart' %}">
                            <div class="text-center text-black text-shadow">
                                <div><i class="fas fa-shopping-cart fa-lg"></i>
                                </div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    <div class="overlay"></div>
    <div class="flex-container">
    </div>
    {% endblock %}

    <!-- Footer Inspired by https://mdbootstrap.com/docs/standard/navigation/footer/-->

    <footer class="bg-body-tertiary bg-black text-white p-5 mt-3">

        <div class="col bg-black text-white text-center">
            <h3 class="mb-4">Free delivery on orders over
                ${{ free_delivery_threshold }}!</h3>
        </div>

        <!-- Section: Links -->
        <div class="container text-left">
            <div class="row">
                <!-- Grid column: Shop Hours -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 px-lg-5">
                    <h4 class="text-uppercase">Shop Hours</h4>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">Mon - Fri: 9 AM - 5 PM. Live help for
                            all your shopping needs!</li>
                        <li class="mb-3">Weekends: Our team takes a rest, but
                            our site stays
                            awake for you 24/7. Shop anytime!</li>
                    </ul>
                </div>

                <!-- Grid column: Follow Us -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 px-lg-5">
                    <h4 class="text-uppercase">Follow Us</h4>
                    <ul
                        class="list-unstyled mb-0 d-flex align-items-start justify-content-start">
                        <li style="margin-left: 0; padding-left: 0;">
                            <a class="btn btn-link btn-floating btn-lg text-white"
                                href="https://www.facebook.com" target="_blank"
                                role="button" data-mdb-ripple-color="white"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-link btn-floating btn-lg text-white"
                                href="https://www.instagram.com" target="_blank"
                                role="button" data-mdb-ripple-color="white"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-link btn-floating btn-lg text-white"
                                href="https://www.youtube.com" target="_blank"
                                role="button" data-mdb-ripple-color="white"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Grid column: Contact Us -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">Contact Us</h4>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>For inquiries or support, contact us via mail<a
                                    class="btn btn-link btn-floating btn-lg text-white"
                                    href="{% url 'about:about' %}#contact-us"
                                    role="button"
                                    data-mdb-ripple-color="white"><i
                                        class="fas fa-envelope"></i></a>or
                                social media</p>
                        </li>
                        <li>
                            <a href="https://www.termsfeed.com/live/1ef9e4d0-3b73-4a97-9672-a1939610d116"
                                target="_blank" rel="nofollow">
                                <p class="text-white">Privacy Policy</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Grid column: Newsletter Form -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 px-lg-5">
                    <h4 class="text-uppercase">Newsletter</h4>
                    <form method="post"
                        action="{% url 'newsletter:subscribe_to_newsletter' %}">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="id_name"
                                class="form-control text-white bg-dark border-white  profile-form-input"
                                placeholder="Name *" autofocus
                                {% if form.name.value %}value="{{ form.name.value }}"
                                {% endif %}>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="id_email"
                                class="form-control text-white bg-dark border-white profile-form-input"
                                placeholder="Email *"
                                {% if form.email.value %}value="{{ form.email.value }}"
                                {% endif %}>
                        </div>
                        <button type="submit"
                            class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3 mt-1">
            © 2024 Copyright: Artzy

            <p class="small mt-1">This website is solely for educational
                purposes and does not offer real products or services for
                purchase. All product images have been borrowed from <a
                    href="https://unsplash.com/" class="text-white"
                    target="_blank" rel="nofollow">Unsplash</a></p>
        </div>
    </footer>
    <!-- Footer -->


    {% block postloadjs %}

    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    {% endblock %}


</body>

</html>